
<app-menu></app-menu>
<router-outlet></router-outlet>
<br>
<br>
<p custom-directive>Test</p>
<br>
<app-post></app-post>
<br>
<br>
<br>
<!-- {{text | summary}} -->
<br>
<br>
<hr>
<!-- <dir class="container">
    <br><br>
<table class="table table-responsive table-border table-hover">
    <tr>
        <th>Course Name</th>
        <th>Duration</th>
        <th>Price</th>
        <th>Starting Date</th>
        <th>Rating</th>
    </tr>
    <tr *ngFor="let course of courses">
        <td>{{course.name |uppercase}}</td>
        <td>{{course.duration | number}}</td>
        <td>{{course.price | currency :'INR'}}</td>
        <td>{{course.startingdate | date : 'shortDate'}}</td>
        <td>{{course.rating | number : '1.2'}}</td>
    </tr>
</table>
</dir> -->
